.body-inicio {
  margin: 0;
  padding: 0;
  background-color: $negro;

  .index-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: $blanco;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .hnombre {
    @include titulo(32px);
    color: $negro;
    margin-bottom: 10px;
  }

  .hmodulo {
    @include titulo(30px);
    color: $negro;
    margin-top: 0;
  }

  ol {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: $azul_1;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $azul_2;
        }
      }
    }
  }
}
