.body-temas {
  margin: 0;
  padding: 0;
  background-color: $negro;

  section {
    background-color: $blanco;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;

    h3 {
      @include titulo(26px);
    }
  }

  h1 {
    color: $blanco;
    text-align: center;
    @include titulo(32px);
    padding: 10px;
  }

  h2 {
    color: $blanco;
    text-align: center;
    @include titulo(30px);
    padding: 10px 0;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    color: $azul_1;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $azul_2;
    }
  }
}
